* {
  text-decoration: none;
}

body {
  width: full;
  background: rgb(244,192,236);
background: linear-gradient(0deg, rgba(244,192,236,1) 0%, rgba(189,159,251,1) 100%);
}

.btn-american{
  display: flex;
  justify-content: end;
  margin-right: 70px;
  margin-top: 100px;
}


.btn-american a{
  width: 20px;
  margin: 20px;
}

.bio{
  width: 500px;
  margin-left: 15%;
  min-width: 500px;
}

.bio .imagen  {
  display: flex;
  padding: 20px;
  width: 600px;
}

.bio p{
  margin-top: 15%;
  min-width: 150px;
}
.bio img{
  width: 200px;
  padding: 20px;
  border-radius: 99999px;

}

.title-american {
  margin-top: 10%;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 35px;
  min-width: auto;
}
.american-style {
  margin-left: 15%;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  
}
.american-style div{
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
  background: RGBA(234, 234, 234, 0.5);
  padding: 10px;
  background: rgb(164, 144, 200);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  color: #1a1a1a;
  min-width: 200px;
}

.american-style img{
  width: 150px;
  margin-left: 20px;
  border-radius: 20px;

}


.title-community {
  margin-top: 10%;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 35px;
}


.AR-Community-description{
  width: 800px;
  margin-top: 0;
  margin-left: 10%;
}

.AR-Community-description  {
  display: flex;
  padding: 20px;
  width: 600px;
}

.AR-Community-description p {
  margin-top: 10%;
}

 .AR-Community-description span{
  color: rgb(118 68 221);
 }
.AR-Community-description img {
  border-radius: 9999px;
  padding: 20px;
  width: 200px;
}


.cuentas h2{
  margin-left: 45%;
  color: rgb(65, 33, 110);
}

.cuentas-manejadas {
  display: flex;
  justify-content: center;
}

.cuentas-manejadas div{
  width: 130px;
  margin-left: 20px;
  min-width: 100px;
}

.cuentas-manejadas div> img{
  width: 100%;
  height: auto;
  opacity: .6;
  margin: 20px;
}
